
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black; 
  position: relative;
  overflow: auto; 
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: blur(8px); 
}

.image {
  width: 35vw;
  max-width: 400px;
  height: auto;
  position: fixed; /* Isso mantém a imagem na mesma posição */
  z-index: 1; 
  border-radius: 10px; 
  filter: drop-shadow(0 0 20px rgba(30, 255, 0, 0.7)) 
          drop-shadow(0 0 40px rgba(145, 255, 0, 0.5)); 
  top: 20%; /* Ajuste conforme necessário */
  left: 50%; /* Ajusta a posição horizontal */
  transform: translateX(-50%); /* Centraliza horizontalmente */
}

.service-image {
  width: 100px; /* Ajuste conforme necessário */
  height: auto; /* Mantém a proporção */
  display: block; /* Garante que a imagem seja exibida */
  margin: 0 auto; /* Centraliza a imagem, se desejado */
}


.text {
  font-family: 'Source Code Pro', monospace; 
  font-size: clamp(20px, 5vw, 40px);
  color: rgb(238, 255, 0); 
  text-align: center; 
  z-index: 2; 
  position: absolute; /* Para usar 'top' e 'left' */
  top: 3%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para centralizar corretamente */
}
.text2 {
  font-family: 'Source Code Pro', monospace; 
  font-size: clamp(25px, 3vw, 45px);
  color: rgb(238, 255, 0); 
  text-align: center; 
  z-index: 2; 
  position: absolute; /* Para usar 'top' e 'left' */
  top: 20%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para centralizar corretamente */
}

.nav {
  display: flex;
  justify-content: center; 
  position: fixed; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  margin-bottom: 15px; 
  z-index: 2; 
  background: rgba(30, 37, 31, 0.7); 
  padding: 10px 20px;  
  border-radius: 10px; 
  width: auto;
}
.nav-item {
  font-family: 'Source Code Pro', monospace;
  margin: 0 20px;; 
  color: rgb(9, 255, 0); 
  font-size: clamp(15px, 4vw, 25px);
  cursor: pointer; 
  transition: transform 0.4s; 
}


.nav-item:hover {
  transform: rotateX(360deg); 
}


@media (max-width: 768px) {
  .matrix-effect {
      font-size: 12px; 
      line-height: 1.5; 
  }
}#home, #about, #services, #contact {
  padding: 80px 0;
  height: 100vh;
}