
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: black; 
  position: relative;
  overflow: hidden; 
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: blur(8px); 
}

.image {
  width: 20vw;
  height: auto;
  position: fixed;
  z-index: 1; 
  border-radius: 10px; 
filter: drop-shadow(0 0 20px rgba(30, 255, 0, 0.7)) 
drop-shadow(0 0 40px rgba(145, 255, 0, 0.5)); 
}
.text {
  font-family: 'Source Code Pro', monospace; 
  font-size: 5vw; 
  position: absolute; 
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: rgb(238, 255, 0); 
  text-align: center; 
  z-index: 2; 
}
.text2 {
  font-family: 'Source Code Pro', monospace; 
  font-size: 3vw; 
  position: absolute; 
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: rgb(238, 255, 0); 
  text-align: center; 
  z-index: 2; 
}

.nav {
  display: flex;
  justify-content: center; 
  position: fixed; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  margin-bottom: 15px; 
  z-index: 2; 
  background: rgba(30, 37, 31, 0.7); 
  padding: 10px 20px;  
  border-radius: 10px; 
  width: auto;
}
.nav-item {
  font-family: 'Source Code Pro', monospace;
  margin: 0 20px;; 
  color: rgb(9, 255, 0); 
  font-size: 4vw; 
  cursor: pointer; 
  transition: transform 0.4s; 
}


.nav-item:hover {
  transform: rotateX(360deg); 
}


@media (max-width: 768px) {
  .text {
    font-size: 6vw; 
  }

  .text2 {
    font-size: 4vw; 
  }

  .nav-item {
    font-size: 5vw; 
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 7vw; 
  }

  .text2 {
    font-size: 5vw; 
  }

  .nav-item {
    font-size: 6vw; 
  }
}